- semantic_form_for ["admin",@page] do |form|
  - form.inputs do
    = form.input :title
    = form.input :content, :input_html => {:class => "tinymce"}
    = form.input :slug, :hint => "If none is entered, we will create one based on your title"
    = form.input :published_at
    = form.input :status, :collection => Page::STATUS
    = form.input :admin
    
  - form.buttons do
    = form.commit_button 'Save',:button_html => { :class => "submit" }