- semantic_form_for ["admin",@page] do |form|
  - form.inputs do
    = form.input :title, :label => "Título"
    = form.input :content, :input_html => {:class => "tinymce"}, :label => "Contenido"
    = form.input :slug, :hint => "Si no se coloca ninguno, se usará el título", :label => "URL"
    = form.input :published_at, :label => "Fecha de publicación"
    = form.input :head_title, :label => "Título para buscadores", :hint => "Puede definir un título adicional para que los buscadores las reconozcan: Ej. 'Inmobiliaria Juan Fanning :: Edificios, Construcción'"
    = form.input :metatags, :hint => "Si lo desea, puede agregar también otras etiquetas que algunos navegadores reconozcan: Ej: edificios, san isidro"
    
  - form.buttons do
    = pretty_button_tag "Grabar"
