- @title = "Managing #{I18n.t('activerecord.models.page').pluralize} "

#admin.index
  %section
    %h2= "Managing #{I18n.t('activerecord.models.page').pluralize}"
   
    #admin_menu
      .message
        %strong Edit your page contents

  %table{:id=>"projects_table"}
    %thead
      %tr
        %td= I18n.t("activerecord.attributes.pages.title").humanize
        %td= I18n.t("activerecord.attributes.pages.content").humanize
        %td= I18n.t("activerecord.attributes.pages.slug").humanize
        %td
        /%td
    %tbody
    - @pages.each do |page|
      %tr{:class=>cycle('even','odd') }
        %td= page.title
        %td= truncate(strip_tags(page.content),150)
        %td= page.slug
        %td= link_to 'Edit', edit_admin_page_path(page)
        /%td= #link_to 'Delete', ["admin",page], :confirm => 'Are you sure? All related data will be deleted', :method => :delete
      
  .pagination= will_paginate @pages