- @title = "Administrando #{I18n.t('activerecord.models.page').pluralize} "

#admin.index
  %section
    %h2= "Administrando #{I18n.t('activerecord.models.page').pluralize}"
   
    #admin_menu
      .message
        %strong Actualice los textos del sitio web

  %table{:id=>"projects_table"}
    %thead
      %tr
        %td Titulo
        %td Contenido
        %td Direccion
        %td
        %td
    %tbody
    - @pages.each do |page|
      %tr{:class=>cycle('even','odd') }
        %td= page.title
        %td= truncate(strip_tags(page.content),150)
        %td= page.slug
        %td= link_to 'Editar', edit_admin_page_path(page)
        %td= link_to 'Eliminar', ["admin",page], :confirm => '¿Estás seguro? Todos los datos relacionados se eliminarán', :method => :delete
      
  .pagination= will_paginate @pages