- @title = "New #{I18n.t 'activerecord.models.<%= singular_name -%>'}"

#admin
  %h1= "New #{I18n.t 'activerecord.models.<%= singular_name -%>'}"

  = render :partial => 'form'

  .bottom_menu
    %p= link_to "See all", admin_<%= plural_name %>_path
