%section
  %h2 Download Notice and Disclaimer
  
  %section#description
    %h3= @download.project.issuer
    %p= truncate(@download.project.description, 400)
  
  %section#disclaimer
    %h3 Disclaimer
    %p= Page.get("Disclaimer").content

    = flash[:error]
    - semantic_form_for ["member",@download] do |i|
      - i.inputs do
        = i.input :document_id, :value => @download.project.id, :as => :hidden, :label => false
        = i.input :user_id, :value => current_user.id, :as => :hidden, :label => false
        = check_box_tag "download[terms]"
        = label_tag "download[terms]", "I have read the foregoing disclaimer and expressly agree to each of its terms"
      - i.buttons do
        = i.commit_button "Accept"