%section
  %h2 Recent downloads
  
  %table
    %thead
      %tr
        %th Status
        %th State
        %th Issuer Description
        %th Date Posted
        %th 
    %tbody
      - @downloads.each do |p|
        %tr{:class=>cycle("odd","even")}
          - p = p.project
          %td= p.status.humanize if p.status
          %td= p.state.upcase
          %td
            = link_to p.issuer_name, p.document.url
            %br
            = truncate(strip_tags(p.description), 400)
          %td= p.updated_at.to_s(:short) if p.updated_at
          %td.tdtip
            = link_to "Quick info", "#", :class=>"tip"
            .top 
              %h3 Quick info
              %ul
                %li 
                  .content
                    %strong= p.issuer
                    = p.description
                - if p.ratings.present?
                  %li
                    .content
                      %strong Ratings
                      - if p.ratings.present?
                        = p.ratings.split(",").join("<br />")
                - if p.underwriters.present?
                  %li
                    .content
                      %strong Underwriter(s)
                      = p.underwriters
                - if p.bond_amount.present?
                  %li
                    .content
                      %strong Dollar value
                      = p.bond_amount
                  
    #pagination= will_paginate(@projects)