%section.left{:style=>"width: 400px"}
  %h2 Contact us

  %p Get in touch with us to share your concerns and ideas
  
  %section#disclaimer
  
    #sharing
      - semantic_form_for (@contact_form || ContactForm.new) do |f|
        - f.inputs do 
          = f.input :name, :required => true
          = f.input :email, :required => true
          = f.input :phone
          = f.input :company
          = f.input :message
        - f.buttons do
          = f.commit_button "Send"
      =link_to "Cancel", root_path
    
  .clear
  
.right{:style=>"width: 300px"}
  %div{:style =>"margin-top:100px;"}
  gghgh
  - page = Page.get("Contact")
  = page.content if page
