%section.left{:style=>"width: 400px"}
  %h2 Contactanos

  %p Ponte en contacto con nosotros
  
  %section#disclaimer
  
    #sharing
      - semantic_form_for (@contact_form || ContactForm.new) do |f|
        - f.inputs do 
          = f.input :name, :required => true, :label => "Nombre"
          = f.input :email, :required => true
          = f.input :phone, :label => "Teléfono"
          = f.input :message, :label => "Contenido"
        - f.buttons do
          = f.commit_button "Enviar"
      =link_to "Cancelar", root_path
    
  .clear
