%section
  %h2 Recent Municipal Bond Offerings
  
  #filters.right
    = page_entries_info @projects
    - form_tag url_for(:action => "index") do
      View
      = select_tag "per_page", options_for_select([["10 per page", "10"], ["25 per page", "25"],["50 per page", "50"],["100 per page", "100"]])
      = submit_tag "filter"
  
  %table
    %thead
      %tr
        %th{:width => 100} Status
        %th{:width => 100} State
        %th{:width => 400} Issuer Description
        %th Date Posted
        %th 
    %tbody
      - @projects.each do |p|
        %tr{:class => (cycle("even","odd"))}
          %td= p.project_type.humanize if p.status
          %td= p.state.upcase
          %td
            - link_to access_member_project_path(p) do
              = p.issuer_name

            %br
            = truncate(strip_tags(p.description), 400)
          %td= p.created_at.to_s() if p.created_at
          %td.tdtip
            = link_to "Quick info", "#", :class=>"tip"
            .top 
              %h3 Quick info
              %ul
                %li 
                  .content
                    %strong= p.issuer_name
                    = strip_tags p.description
                - unless p.ratings.blank?
                  %li
                    .content
                      %strong Ratings
                      - if p.ratings
                        = p.ratings.split(",").join("<br />")
                - unless p.underwriters.blank?
                  %li
                    .content
                      %strong Underwriter(s)
                      = p.underwriters
                - unless p.bond_amount.blank?
                  %li
                    .content
                      %strong Dollar value
                      = p.bond_amount
                      
  
  #pagination= will_paginate(@projects)
                  
          