%section
  %h2 Current Projects documents
  
  %table
    %thead
      %tr
        %th Status
        %th State
        %th Issuer Description
        %th Date Posted
        %th 
    %tbody
      - @projects.each do |p|
        %tr{:class => (cycle("even","odd"))}
          %td= p.status.humanize if p.status
          %td= p.state.upcase
          %td
            - link_to access_member_project_path(p) do
              = p.issuer_name

            %br
            = truncate(strip_tags(p.description), 400)
          %td= p.created_at.to_s(:short) if p.created_at
          %td.tdtip
            = link_to "Quick info", "#", :class=>"tip"
            .top_wrapper
            .top 
              %h3 Quick info
              %ul
                %li 
                  .content
                    %strong= p.issuer_name
                    = p.description
                - if p.ratings
                  %li
                    .content
                      %strong Ratings
                      - if p.ratings
                        = p.ratings.split(",").join("<br />")
                - if p.underwriters
                  %li
                    .content
                      %strong Underwriter(s)
                      = p.underwriters
                - if p.bond_amount
                  %li
                    .content
                      %strong Dollar value
                      = p.bond_amount
                  
          