- @onload = "initialize()"; @onunload = "GUnload()"

- semantic_form_for ["admin",@project], :html => { :enctype => "multipart/form-data" } do |form|
  = form.error_messages
  
  - form.inputs do
    - form.inputs do
      = form.input :name, :label => "Nombre del proyecto"
      = form.input :code, :label => "Código referencia"
      = form.input :state, :input_html => {:class=> "small"}, :as => :select, :collection => State::NAMES, :label => "Distrito"
      %li
        %label= "Imagen principal:"
        = image_tag @project.banner.url(:thumb)
      = form.input :banner, :required => false, :label => "&nbsp;"
      = form.input :description, :input_html => {:class=> "tinymce"}
    
    
    #gmaps
      %h2 Ubicación en Google Maps
      = form.input :address, :label => "Dirección"
      %li
        %label &nbsp;
        = pretty_button_tag "Ubicar", :id => "find_me"
      - lat, long = "-12.09726", "-77.03503"
      - lat, long = @project.lat, @project.long unless @project.lat.blank?
      = render :partial => "gmaps", :locals => {:lat => lat, :long => long}
      %p.inline-hints Haga click en el lugar donde estará el inmueble
      = hidden_field_tag "project[lat]", @project.lat
      = hidden_field_tag "project[long]", @project.long

    
    - form.inputs do
      %h2 Datos adicionales
      = form.input :sales_price, :label => "Precio"
      / = form.input :property_type, :collection => Project::PROPERTY_TYPES.values, :label => "Tipo de Propiedad"
      = form.input :terrain_area, :label => "Área del terreno"
      = form.input :constructed_area, :label => "Area construida"
      / = form.input :rooms, :label => "Número de Cuartos"
      / = form.input :bathrooms, :label => "Número de Baños"
      / = form.input :garages, :label => "Número de Garages"
      = form.input :construction_year, :label => "Año de construcción", :order => [:year]
      = form.input :floors_per_building, :label => "Número de Pisos"
      / = form.input :with_furniture, :label => "¿Amoblado?", :as => :boolean

      = hidden_field_tag "project[admin_id]", current_admin.id

  #project_images
    %h2 Imágenes adicionales para el proyecto
    
    - if @project.new_record?
      - iframe_path = admin_project_images_path
    -else
      - iframe_path = admin_project_project_images_path(@project)
    %iframe{:src=>iframe_path, :height => "400px", :width => "500px", :style=>"overflow:hidden;border:none;",  :border=>"0", :cellspacing=>"0", :scrolling=>"no",:marginwidth=>"0", :marginheight=>"0",:frameborder=>"0",:scrolling=>"no"}
    
  - form.buttons do
    = pretty_button_tag "Grabar proyecto"