- @title = "Editar #{I18n.t 'activerecord.models.project'}"

#admin
  %h1= "Editando #{I18n.t 'activerecord.models.project'}"

  = render :partial => 'form'

  .bottom_menu
    %p= text_button_tag("Ver todos",admin_projects_path)
    
    
