- @title = "Administrando #{I18n.t('activerecord.models.project').pluralize} "

#admin.index
  %section
    %h2= "Administrando #{I18n.t('activerecord.models.project').pluralize}"

    #admin_menu
      .message
        %strong= link_to "Registrar un nuevo #{I18n.t('activerecord.models.project')}", new_admin_project_path

  %ul#filters
    %li= link_to "Todos los proyectos", admin_projects_path
    %li= link_to "Proyectos publicados", :filter => "active"
    %li= link_to "Proyectos sin publicar", :filter => "pending"

  %table{:id=>"projects_table"}
    %thead
      %tr
        %td Distrito
        %td Precio
        %td Descripción
        %td Imagen
        %td Tipo
        %td
        %td
        %td
        %td
        %td
        %td        
    %tbody
    - if @projects.empty?
      %tr
        %td{:colspan => 13} No hay proyectos registrados
    - @projects.each do |project|
      %tr{:class=>cycle('even','odd') }
        %td= project.state
        %td= project.sales_price
        %td= summary project.description
        %td= image_tag project.banner.url(:small)
        %td= project.property_type
        %td= project.published? ? "publicado" : "sin publicar"
        - unless project.published? 
          %td= (link_to "Publicar", publish_admin_project_path(project)) 
        - else
          %td= (link_to "Despublicar", unpublish_admin_project_path(project)) 
        %td= link_to "Ver", project, :target => "_blank"
        %td= link_to "Departamentos (#{project.departments.count})", admin_project_departments_path(project)
        %td= link_to 'Editar', edit_admin_project_path(project)
        %td= link_to 'Eliminar', ["admin",project], :confirm => '¿Está seguro?  ', :method => :delete
      
  .pagination= will_paginate @projects