- @title = "Viewing #{I18n.t 'activerecord.models.project'}"

#admin

  %h1= "Viewing #{I18n.t 'activerecord.models.project'}"

  - show_for @project do |a| 
    = a.attribute :project_type        = a.attribute :state        = a.attribute :description        = a.attribute :published_at        = a.attribute :issuer        = a.attribute :bond_amount        = a.attribute :sale_type        = a.attribute :status        = a.attribute :user        = a.attribute :delivery_date    

  .bottom_menu
    = link_to "See all", admin_projects_path
    = link_to "Edit #{I18n.t 'activerecord.models.project'}",  edit_admin_project_path(project)
    = link_to "Create another", new_admin_project_path
