- @title = "Viewing #{I18n.t 'activerecord.models.project'}"

#admin

  %h1= "Viewing #{I18n.t 'activerecord.models.project'}"
    
    
  %p
    %strong Issuer
    = @project.issuer        

  %section#document
    =link_to "Download file", @project.document.url

    .pdf_preview
      - link_to @project.document.url do
        = image_tag @project.preview.url(:small), :width => 100

  %p
    %strong Project Type:
    = @project.project_type
  %p
    %strong State:
    = @project.state
  %p
    %strong Description
    = @project.description
  %p
    %strong Description
    = @project.published_at
  %p
    %strong Bond amount
    = number_to_currency(@project.bond_amount, :precision => 0)
  %p
    %strong Sale Type:
    = @project.sale_type

  %p
    %strong Delivery Date
    = @project.delivery_date

  %p
    %strong Administrator:
    = @project.admin.name

  %section#description
    %h2.bond_amount= link_to (number_to_currency @project.bond_amount, :precision => 0), access_member_project_path(@project)
    %h3= link_to @project.issuer, access_member_project_path(@project)
    %p= link_to truncate(strip_tags(@project.description), 400), access_member_project_path(@project)


  .bottom_menu
    = link_to "See all", admin_projects_path
    = link_to "Edit #{I18n.t 'activerecord.models.project'}",  edit_admin_project_path(@project)
    = link_to "Create another", new_admin_project_path
