- @onload = "initialize()"; @onunload = "GUnload()"
- content_for :fb_tags do
  %meta{:property=>"og:title", :content=>"Juan Fanning | Proyecto #{@project.name}"}
  %meta{:property=>"og:site_name", :content=>"Juan Fanning"}
  %meta{:property=>"og:image", :content=>@project.banner.url(:large)}


%h1= @project.name
#main-col
  #slide-holder
    %ul#images
      - if @project.banner_file_name.present?
        %li#img1
          = link_to image_tag(@project.banner.url(:large), :size => "290x244"), @project.banner.url, {:rel => "fancybox"}
      - @project.project_images.each_with_index do |image,index|
        %li{:id=>"img#{index+2}"}
          = link_to image_tag(image.image.url(:large), :size => "290x244"), image.image.url, {:rel => "fancybox"}
    %ul#slider-pager
      - if @project.banner_file_name.present?
        %li
          - link_to :anchor => "img1" do
            = image_tag @project.banner.url(:medium), :size => "52x44"
      - @project.project_images.each_with_index do |image,index|
        %li
          %a{:href => "#img#{index+2}"}
            = image_tag image.image.url(:medium), :size => "52x44"
  
    .clr
    / /slide-holder
  #project-info
    .details
      - unless @project.sold?
        - if @project.code?
          %p
            %label Código
            = @project.code
        %p
          - if @project.sales_price && (not @project.sales_price.zero?)
            %label P. venta
            %strong= number_to_currency(@project.sales_price)
        - if @project.terrain_area && (not @project.terrain_area.zero?)    
          %p
            %label Área Terreno (AT)
            = @project.terrain_area
            m
            %sup 2
        - if @project.constructed_area && (not @project.constructed_area.zero?    )
          %p
            %label Área Construida (AC)
            = @project.constructed_area
            m
            %sup 2
        - if @project.construction_year
          %p
            %label Año de construcción
            = @project.try(:construction_year).try(:year)
        - if @project.floors_per_building && (not @project.floors_per_building.zero?)
          %p
            %label Pisos / Pisos por edificio
            = @project.floors_per_building
        / %p
        /   %label Amoblado
        /   = @project.with_furniture? ? "Si" : "No"
    - if @project.description?
      %p
        %strong Descripción
        - if @project.sold?
          %strong VENDIDO
        = strip_tags @project.description
    
    - unless @project.departments.empty?
      .departments
        %h3 Departamentos del edificio    
        %ul
          - @project.departments.each do |department|
            %li
              - link_to department_path(department) do
                Departamento
                = "(#{department.size})"
                m
                %sup 2
  .clr
  
  - if @project.lat
    %h2 Ubicación
    %p.address= @project.address
    #gmaps= render "gmaps"
    / /gmaps
    
    
  
    / 
/ /main-col
#side-col
  #contact-wrapper
    #contact
      %p
        %a{:href => "/contacto"}
          %img{:alt => "Contáctenos por este inmueble", :height => "102", :src => "/images/contact.gif", :width => "180"}/
      %p
        %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?href=#{CGI::escape(project_url(@project))}&amp;layout=standard&amp;show_faces=false&amp;width=400&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=40", :style => "border:none; overflow:hidden; width:400px; height:40px;margin-top:0px;"}
/ /side-col
.clr
  /
  
