- @title = "Editing #{I18n.t 'activerecord.models.admin'}"

#admin
  %h1= "Editing #{I18n.t 'activerecord.models.admin'}"

  = render :partial => 'form'

  .bottom_menu
    %p= link_to "See all", admin_admins_path
