- @title = "Manage Administrators"


#admin.index
  %section
    %h2= "Manage Administrators"

    #admin_menu
      .message
        %strong Manage administrators
        = link_to "or create a new one", new_admin_admin_path


  %table{:id=>"projects_table"}
    %thead
      %tr
        %td= I18n.t("activerecord.attributes.admins.email").humanize
        %td= I18n.t("activerecord.attributes.admins.name").humanize
        %td Role
        %td
        %td
    %tbody
    - @admins.each do |admin|
      %tr{:class=>cycle('even','odd') }
        %td= admin.email
        %td= admin.name
        %td= admin.role        
        %td= link_to 'Edit', edit_admin_admin_path(admin)
        %td= link_to 'Delete', ["admin",admin], :confirm => 'Are you sure? All related data will be deleted', :method => :delete
      
  .pagination= will_paginate @admins