- @title = "New #{I18n.t 'activerecord.models.admin'}"

#admin
  %h1= "New #{I18n.t 'activerecord.models.admin'}"

  - semantic_form_for ["admin",@admin] do |form|
    - form.inputs do
      = form.input :email
      = form.input :name
      = form.input :password
      = form.input :password_confirmation
      = form.input :role, :as => :select , :collection => Admin::ROLES, :hint => "Supervisors are only allowed to upload projects but can't activate them nor edit site contents"

    - form.buttons do
      = form.commit_button 'Save',:button_html => { :class => "submit" }

  .bottom_menu
    %p= link_to "See all", admin_admins_path
