%section
  %h2 Dashboard
  .message
    %strong= "Bienvenido #{current_admin.name}!"

%actions
  %ul.actions
    - if current_admin
      %li
        = link_to "#{Project.all.size} proyectos registrados.", admin_projects_path
      %li
        %strong= "#{Project.pending.size} pendientes de publicación"

%latest

%actions
  %ul.actions
    %li= link_to "Crear nuevo proyecto", new_admin_project_path
    %li= link_to "Actualizar textos", admin_pages_path