- @title = "Viewing #{I18n.t 'activerecord.models.user'}"

#user

  %h1= "Viewing #{I18n.t 'activerecord.models.user'}"

  .bottom_menu
    = link_to "See all", user_users_path
    = link_to "Edit #{I18n.t 'activerecord.models.user'}",  edit_user_user_path(user)
    = link_to "Create another", new_user_user_path
