!!! 5
%html
  %head
    %title= title
    = stylesheet_link_tag "reset", "main", "#{controller.controller_name}", "formtastic"
    /[if IE]
      :erb
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  /[if lt IE 7 ] 
    :erb
      <body class="ie6 <%= body_classes %>">
  /[if IE 7 ]
    :erb
      <body class="ie7 <%= body_classes %>">
  /[if IE 8 ]
    :erb
      <body class="ie8 <%= body_classes %>">
  /[if IE 9 ] 
    :erb
      <body class="ie9 <%= body_classes %>">
  / [if (gt IE 9)|!(IE)]><!
  %body{:class=>body_classes}
    / <![endif]>        
    %header
      #header_content.wrap
        %h1
          - link_to root_path do
            = image_tag ("logo.jpg")
            %span.hide= "DigitalMuni"
        %nav.util
          %span= "Welcome back #{current_user.name}!" if current_user
          %ul.main
            - unless user_signed_in?
              %li= link_to "Login", new_user_session_path
              %li= link_to "Create new account", new_user_registration_path
            - else
              %li= link_to "Account", edit_user_registration_path            
              %li= link_to "Logout", destroy_user_session_path
              %li= link_to "Recent downloads", recent_member_downloads_path
            %li.last= link_to "RSS", rss_path
          %ul.secondary
            %li= link_to "Securex", "http://secfile.net"
            %li.last= link_to "DigitalMuni.com is a qualified Portal under MSRB Rule G-32", "http://emma.msrb.org"          
        .clear
    #content
      %nav#menu
        .wrap
          %ul.principal.left
            %li= link_to "Home", root_path
            %li= link_to "About", site_path("about")
            %li= link_to "Services", site_path("services")
            %li= link_to "Contact", site_path("contact")
            %li.last= link_to "FAQ", site_path("faq")
          #search_bar.right
            - form_tag "/search" do
              = text_field_tag "terms", "Search documents by any term (Issuer, CUSIP, Description, etc)"
              = submit_tag "Search"
            = link_to "advanced", advanced_search_path
          .clear 

      #wrapper.wrap    
        #main
          = display_flashes
          = yield
    %footer
      .wrap
        .left
          Copyright &copy; 2010 
          = link_to "DigitalMuni", root_path
          All rights reserved &reg;
        .right
          .opt Optimized for 1024x768 resolution
          %ul
            %li= link_to "Home", root_path
            %li= link_to "Copyright", site_path("copyright")
            %li= link_to "Terms and Conditions ", site_path("terms-and-conditions")
            %li= link_to "Print", site_path("print"), :class=>"print_pdf"
            %li= link_to "Sitemap", site_path("sitemap"), :class=>"site-map"            
            %li= link_to "Share", site_path("email"), :class=>"email"
            %li= link_to "Privacy Policy", site_path("privacy-policy"), :class=>"email"
    = javascript_include_tag "jquery", "jquery-ui", "jrails", "application", :cache => true