!!! 5
%html
  %head
    %title= title
    - if @page && @page.metatags
      %meta{ :name=>"keywords", :content=>@page.metatags}
    = stylesheet_link_tag "reset", "main", "#{controller.controller_name}", "formtastic","../javascripts/lib/thickbox.css","../javascripts/jquery.autocomplete"
    = stylesheet_link_tag "print", :media => :print
    
    /[if IE]
      :erb
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  = yield :include        
  /[if lt IE 7 ] 
    :erb
      <body class="ie6 <%= body_classes %>">
  /[if IE 7 ]
    :erb
      <body class="ie7 <%= body_classes %>">
  /[if IE 8 ]
    :erb
      <body class="ie8 <%= body_classes %>">
  /[if IE 9 ] 
    :erb
      <body class="ie9 <%= body_classes %>">
  / [if (gt IE 9)|!(IE)]><!
  %body{:class=>body_classes}
    / <![endif]>        
    %header
      #header_content.wrap
        %h1
          - link_to root_path do
            = image_tag ("logo.jpg")
            %span.hide= "DigitalMuni"
        %nav.util
          %span= "Welcome back #{current_user.name}!" if current_user
          .nav-main
            %ul
              - unless user_signed_in?
                %li= link_to "Login", new_user_session_path
                %li= link_to "Create new account", new_user_registration_path
              - else
                %li= link_to "Account", edit_user_registration_path            
                %li= link_to "Logout", destroy_user_session_path
                %li= link_to "Recent downloads", recent_member_downloads_path
              %li.last= link_to "RSS", rss_path
            %span.r
          %ul.secondary
            / %li= link_to "Securex", "http://secfile.net"
            %li.last= link_to "A Qualified Portal Under MSRB Rule G-32", "http://emma.msrb.org"          
        .clear
    #content
      %nav#menu
        .wrap
          %ul.principal.left
            %li= link_to "Home", root_path
            %li= link_to "About", site_path("about")
            %li= link_to "Services", site_path("services")
            %li= link_to "Contact", contact_path
            %li.last= link_to "FAQ", site_path("faq")
          #search_bar.right
            - form_tag "/search" do
              = text_field_tag "terms", "Search Issuer/CUSIP, etc", :autocomplete => "off"
              
              
              = submit_tag "Search"
            = link_to "advanced", advanced_search_path
          .clear 

      #wrapper.wrap    
        #main
          = display_flashes
          = yield
    %footer
      .wrap
        .left
          = link_to image_tag("securex.png"), "http://secfile.net"
          %br
          %span.small A Securex Company
        .right
          %ul
            %li= link_to "Terms & Conditions ", site_path("terms-and-conditions")
            %li= link_to "Contact", contact_path, :class=>"contact"
            %li= link_to "Privacy Policy", site_path("privacy-policy"), :class=>"email"
            %li= link_to "Sitemap", site_path("sitemap"), :class=>"site-map"            
            %li= link_to "Share", home_share_path, :class=>"email"
            %li= link_to "Print", "javascript:print()", :class=>"print_pdf"
          .opt Optimized for a screen resolution of 1024 x 768
          = link_to copyright_notice, root_path
    = javascript_include_tag "jquery", "jquery-ui", "jrails", 'tiny_mce/tiny_mce','tiny_mce/jquery.tinymce', :cache => "libs"
    = javascript_include_tag 'editor_loader',"lib/jquery.bgiframe.min","lib/jquery.ajaxQueue", :cache => "plugins"
    = javascript_include_tag "lib/thickbox-compressed","jquery.autocomplete.min","application", :cache => "inner"